html, body{
    font-family: Proxima, Verdana, sans-serif;
    background-color:#E5E5E5; 
    overflow-x: hidden; 
    box-sizing: border-box;    
}

p{
    color:#757575;
}
.headingOne{
    font-size: 2.25em;
    color: #037F8C;
}
.headingTwo{
    font-size: 1.5em;
    color:#757575;
}

@font-face {
    font-family: Proxima;
    src: url(font/ProximaNova-Regular.otf);
  }
.firstSection{
    margin-top: 10em;
    padding-left: 7em;
    padding-right: 7em;
}
input.form-control {
    border: none;
    background-color:#E5E5E5; 
    border-bottom: 1px solid #757575;
    outline:none;
}
.form-control:focus {
    border-color:  #E5E5E5;
    box-shadow: none;
    border-bottom: 1px solid #037F8C;
    background-color: #E5E5E5;
}
.form-check-input{
    border: 1px solid #2F2F2F;
box-sizing: border-box;
border-radius: 5px;
}
.forgot{
    color:#F53759;
}
.submit{
    background-color: #037F8C;
    border-radius: 10px;
    height:4em;
    color: #F3F3F3;
    outline: none;
    width: 100%;
    text-decoration:none;
    border: 0 solid #037F8C;
}
.submit:hover{
    background-color: #333;
}
.submit:focus{
    background-color: #333;
    border-radius: 10px;
}
.socials{
    background-color: transparent;
    border-radius: 10px;
    height:4em;
    color: #757575;;
    outline: none;
    width: 100%;
    text-decoration:none;
    border: 1px solid #2F2F2F;
}
.socials:hover{
    background-color: transparent;
    border: 3px solid #037F8C;
}
.socials img{
    padding-right: 4em;
}
.signUp{
    color: #037F8C;
    font-weight: bold;
}
.img-fluid{
    object-fit: contain;
    width: 100%;
}
.navbar {
    border-bottom: #037F8C 3px solid;
    opacity: 0.8;
  }
  
  .signup {
    box-sizing: border-box;
    background: #037F8C;
    border-radius: 5px;
    color: white;
  }
  
  
  #home-section {
    background: url('../images/98916fc9-2fa2-4f02-9c1a-38d9bb42eb19.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 700px;
  }
  
  .home-inner {
    padding-top: 150px;
  }
  
  .dark-overlay {
    background-color: rgb(0, 0, 0);
    opacity: 0.8;
    position: absolute;
    top: 0;
    left: 200;
    width: 100%;
    min-height: 700px;
  
  }
  
  .heading {
    color: #037F8C;
    font-weight: bold;
  }
  
  #btn-style {
    background: #037F8C;
    border-radius: 10px;
    font-family: Proxima Verdana, sans-serif;
    font-style: normal;
    font-weight: 0.5rem;
    font-size: 16px;
    width: 200px;
  }
  
  
  #create-body-section {
    background: #E5E5E5;
    color: black;
  }
  
  #browse-section {
    background: #E5E5E5;
    color: black;
  }
  
  .section-text {
    font-family: Proxima Verdana, sans-serif;
    font-style: normal;
    font-weight: 0.5rem;
    font-size: 12px;
  }
  
  
  .img {
    box-sizing: border-box;
    border-radius: 5rem;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .rounded-circle {
    padding: 20px;
    margin: auto;
  }
  
  .d1 {
    text-align: center;
    font-family: Proxima Verdana, sans-serif;
  }
  
  .d2 {
    text-align: center;
    font-family: Proxima Verdana, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
  }
  
  p {
    font-family: Proxima Verdana, sans-serif;
    font-style: normal;
    font-weight: 0.5rem;
    font-size: 16px;
  }
  
  .mb {
    text-align: center;
  }
  
  .p-text {
    border-bottom: 5px solid red;
    width: 6rem;
    margin-left: 45%;
  }
  
  
  .btn-primary-modal {
    background: #037F8C;
  }
  
  .color {
    color: #037F8C;
  }