html, body{
    font-family: Proxima, Verdana, sans-serif;
    background-color:#E5E5E5; 
    overflow-x: hidden; 
    box-sizing: border-box;    
}

p{
    color:#757575;
}
.headingOne{
    font-size: 2.25em;
    color: #037F8C;
}
.headingTwo{
    font-size: 1.5em;
    color:#757575;
}

@font-face {
    font-family: Proxima;
    src: url(font/ProximaNova-Regular.otf);
  }
.firstSection{
    margin-top: 10em;
    padding-left: 7em;
    padding-right: 7em;
}
input.form-control {
    border: none;
    background-color:#E5E5E5; 
    border-bottom: 1px solid #757575;
    outline:none;
}
.form-control:focus {
    border-color:  #E5E5E5;
    box-shadow: none;
    border-bottom: 1px solid #037F8C;
    background-color: #E5E5E5;
}
.form-check-input{
    border: 1px solid #2F2F2F;
box-sizing: border-box;
border-radius: 5px;
}
.forgot{
    color:#F53759;
}
.submit{
    background-color: #037F8C;
    border-radius: 10px;
    height:4em;
    color: #F3F3F3;
    outline: none;
    width: 100%;
    text-decoration:none;
    border: 0 solid #037F8C;
}
.submit:hover{
    background-color: #333;
}
.submit:focus{
    background-color: #333;
    border-radius: 10px;
}
.socials{
    background-color: transparent;
    border-radius: 10px;
    height:4em;
    color: #757575;;
    outline: none;
    width: 100%;
    text-decoration:none;
    border: 1px solid #2F2F2F;
}
.socials:hover{
    background-color: transparent;
    border: 3px solid #037F8C;
}
.socials img{
    padding-right: 4em;
}
.signUp{
    color: #037F8C;
    font-weight: bold;
}
.img-fluid{
    object-fit: contain;
    width: 100%;
}